/**
 * Make a copy of this file and rename it to SECRET.h
 * 
 * Fill in the credentials below
 * For the Wifi and the Aliot credentials
*/

// Setup wifi credentials
std::vector<std::string> SSID = {"SSID1", "SSID2"};
std::vector<std::string> PASSWORD = {"PASSWORD1", "PASSWORD2"};

#define SSID "SSID"
#define PASSWORD "PASSWORD"

// Setup aliot credentials
#define AUTH_TOKEN "AUTH_TOKEN"
#define OBJECT_ID "OBJECT_ID"